<div class="container w-100">
    <div class="row w-100">
        <div class="col-md-12 text-center mt-5 mp-5">
            <h1>Seja bem vinda ao seu diario!</h1>
        </div>
        <div class="col-md-6 mt-5 text-justify">
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis odit explicabo, perspiciatis, laudantium iusto necessitatibus dolorum, tempore vel inventore esse obcaecati non officia. Ab soluta, nisi labore voluptatem consectetur porro!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maxime adipisci voluptatibus velit dolor itaque perferendis ab quisquam nobis iure rem, debitis temporibus nihil doloribus eligendi maiores illo molestias esse.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error odio corrupti omnis quia, fugit iure ea exercitationem fugiat illum culpa soluta possimus, dolor assumenda aspernatur cumque enim? Sapiente, aperiam quidem.
            </p>
            <div class="container d-flex justify-content-end">
                <button type="button" routerLink='/login' class="btn btn-outline-dark">Diario</button>
            </div>
        </div>
        <div class="col-md-6 mp-5">
            <img class="rounded float-right" src="https://image.freepik.com/vetores-gratis/menina-escrevendo-em-um-caderno_59690-295.jpg" alt="menina lendo diario" width="350" height="350">
        </div>

    </div>
    
</div>
